*{
  margin: 0;
  padding: 0;
}
.navigation{
  background-color: #000;
  text-align: center;
  padding: 10px 0px;
}
ul li{
  display: inline;
} 
ul li a{
  text-decoration: none;
  color: #ffff;
  padding: 0px 10px;
}

.navigation a:hover{
  background-color: #ffff;
  color: #000;
}